.champion-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.champion-info {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.champion-info img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.champion-title {
  font-size: 2rem;
  margin-top: 0;
}

.champion-info p {
  line-height: 1.5;
  margin-bottom: 20px;
}